*
{
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block;
}

@keyframes animacao1
{
  0% {background-image: url("imagens/cao-1.jpg");}
  5% {background-image: url("imagens/cao-1.jpg");}
  15% {background-image: url("imagens/gato-1.jpg");}
  55% {background-image: url("imagens/gato-1.jpg");}
  65% {background-image: url("imagens/cao-1.jpg");}
}
@keyframes animacao2
{
  0% {background-image: url("imagens/cao-2.jpg");}
  15% {background-image: url("imagens/cao-2.jpg");}
  25% {background-image: url("imagens/gato-2.jpg");}
  65% {background-image: url("imagens/gato-2.jpg");}
  75% {background-image: url("imagens/cao-2.jpg");}
}
@keyframes animacao3
{
  0% {background-image: url("imagens/cao-3.jpg");}
  25% {background-image: url("imagens/cao-3.jpg");}
  35% {background-image: url("imagens/gato-3.jpg");}
  75% {background-image: url("imagens/gato-3.jpg");}
  85% {background-image: url("imagens/cao-3.jpg");}
}
@keyframes animacao4
{
  0% {background-image: url("imagens/cao-4.jpg");}
  35% {background-image: url("imagens/cao-4.jpg");}
  45% {background-image: url("imagens/gato-4.jpg");}
  85% {background-image: url("imagens/gato-4.jpg");}
  95% {background-image: url("imagens/cao-4.jpg");}
}

.bloco
{
  background-size: 300px 300px;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#bloco1
{
  background-image: url("imagens/cao-1.jpg");
  animation-name: animacao1;
}
#bloco2
{
  background-image: url("imagens/cao-2.jpg");
  animation-name: animacao2;
}
#bloco3
{
  background-image: url("imagens/cao-3.jpg");
  animation-name: animacao3;
}
#bloco4
{
  background-image: url("imagens/cao-4.jpg");
  animation-name: animacao4;
}
